{% extends 'BlackConfigBundle:Config:base.html.twig' %}

{% block body %}
    <header>
        <h2>{% trans from "views" %}black.bundle.config.create.title{% endtrans %}</h2>
    </header>

    {% include 'BlackAssetsBundle:Flash:flash.html.twig' %}

    <form id="validate" class="main" action="{{ url('config_create', {}, true) }}" method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }}
    </form>

{% endblock %}
