{% extends 'BlackConfigBundle:Config:base.html.twig' %}

{% block body %}
    <header>
        <h2>Config Show</h2>
    </header>

    {% if document %}
        <h3>{{ document.name }}</h3>

        {% if document.protected %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Important!</strong> This value is protected
        </div>
        {% endif %}

        {% if document.value is iterable %}
        <table class="table table-stripped table-hover">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in document.value %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    {% endif %}

{% endblock %}
