{% extends 'BlackAdminBundle::base.html.twig' %}
{% block body %}

{% include 'BlackAdminBundle:Admin:header.html.twig' %}
{% include 'BlackAdminBundle:Admin:sidebar.html.twig' %}
{% include 'BlackConfigBundle:AdminConfig:sidebar.html.twig' %}

    {% set admin_index = 'admin_config' %}
    {% set admin_delete = 'admin_config_delete' %}
    {% set admin_edit = 'admin_config_edit' %}
    {% set admin_new = 'admin_config_new' %}

    <div id="content">
        {% block content_top %}
            {% include 'BlackAdminBundle:Admin:contentTop.html.twig' with {'title': "config.admin.contentTop.config.text"} %}
        {% endblock %}
        {% include 'BlackConfigBundle:Admin:breadLine.html.twig' with {
            'route': admin_new,
            'text': "config.admin.breadLine.config.new.text",
            'a_route': admin_index,
            'a_text': "config.admin.breadLine.config.breadcrumb.a.text",
            'a_title': "config.admin.breadLine.config.breadcrumb.a.title"
            }
        %}
        {#  Main content  #}
        <div class="wrapper">

            {% if form is defined %}
                {% include 'BlackAdminBundle:AdminForm:errors.html.twig' with {'form': form} %}
            {% endif %}
            {% include 'BlackAdminBundle:Admin:flashes.html.twig' with {'flashes': app.session.FlashBag()} %}

            {% block page_content %}{% endblock %}

        </div>
    </div>

{% endblock %}